<%= render "layouts/errors", :object => @product %>


  <%= form_for [@user, @product] do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name  %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, data: {autonumeric: {vMin: 0.00}}  %>
  </div>
  <div class="field">
    <%= form.label :maker %>
    <%= form.text_field :maker %>
  </div>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>
  <div class="field">
    <%= form.label :tuning %>
    <%= form.text_field :tuning %>
  </div>
  <div class="field">
    <%= form.label :finish %>
    <%= form.text_field :finish %>
  </div>
  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>
  <div class="field">
    <%= form.label :sub_category %>
    <%= form.text_field :sub_category %>
  </div>
  <div class="field">
    <%= form.label :made_in %>
    <%= form.text_field :made_in %>
  </div>
  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>
  <div class="field">
    <%= form.label :shipping %>
    <%= form.text_field :shipping %>
  </div>
  <div class="field">
    <%= form.hidden_field :image, value: "lute.png" %>
    <%= form.hidden_field :second_image, value: "lute2.png" %>
    <%= form.hidden_field :third_image, value: "lute3.png" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
