<p id="notice"><%= notice %></p>
<div class="">
  <h1>HARMONIA</h1>
</div>
<div class="">
  <h2>Items in Cart</h2>
  <div>
    <h1><span id="cartcount"></span><%= cart_qty %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="panel">
        <div class="panel-body">
          <% @products.each do |product| %>
          <div class="product">
            <%= image_tag( product.image, :alt => "image", :class => "img-fluid") %>
            <%= image_tag( product.second_image, :alt => "image", :class => "img-fluid") %>
            <%= image_tag( product.third_image, :alt => "image", :class => "img-fluid") %>
            <h4> <strong>Title: </strong> <%= link_to product.name, product_path(product) %> | <strong>Maker: </strong><%= product.maker %></h4>
            <h5><strong>Model: </strong><%= product.model %> |
            <strong>Category: </strong><%= product.category %> |
            <strong>Sub-Category: </strong><%= product.sub_category %></h5>
            <h6><strong>Made In: </strong><%= product.made_in %> |
            <%= product.year %></h6>
            <h3><strong>Price: </strong><%= number_to_currency product.price %>
            <strong>Shipping: </strong><%= number_to_currency product.shipping %></h3>

            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.hidden_field :quantity, value:1 %>
              <%= f.submit "Add to cart", class: "btn btn-primary" %>
            <% end %>
            </div>
          <% end %>
          <br>
          <br>


        </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= link_to "Show Cart", products_path, id: "show_cart_link", class: "btn btn-success", remote: true %>
    <%= link_to "Hide Cart", products_path, id: "hide_cart_link", class: "btn btn-danger", remote: true %>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current Cart Items</h3>
    </div>
    <div class="panel-body" id="hideshow">
      <p><%= render "carts/cart" %></p>
    </div>
  </div>
  <% @makers.each do |user| %>
    <h4>email: <%= user.email %></h4>
    <h4>Location: <%= user.location %></h4>
    <h4>Joined: <%= user.joined %></h4>
    <h4>Rating: <%= user.rating %></h4>

  <% end %>

  </div>
</div>



<!-- <%= link_to 'New Product', new_product_path, class: "btn btn-warning"  %> -->
